<div class="container main-container">
   
    <!-- <h1>Lista de Usuários</h1> -->
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "square-loader" ><p style="color: white" > Carregando... </p></ngx-spinner>
    <p>
        <a class="btn btn-success" [routerLink]="['/cadastrosBasicos/adicionar-pessoa']" >Adicionar </a>
    </p>

    <table class="table ">
        <thead class="thead-dark">
        <tr>
            
            <th>Pessoa</th>
            <th>Cpf/Cnpj</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead> 
        <tr *ngFor="let pessoa of PessoaLista">
            
            <td>
                {{ pessoa.nome }} 
            </td>
            <td>
                {{ pessoa.cpfCnpj }} 
            </td>
            <td>
                {{ pessoa.email }} 
            </td>
            <td class="text-right">
                <a class="btn btn-warning" [routerLink]="['/cadastrosBasicos/editar-pessoa',pessoa.id]"  >
                    <span title="{{ pessoa.nome }} " class="fa fa-pencil-alt">Editar</span>
                </a>
            </td>
            
          

            <td class="text-right">
                <a>
                    <span title="{{ pessoa.cpfCnpj }} " ></span>
                </a>
            </td>
            <td class="text-right">
                <a>
                    <span title="{{ pessoa.email }} " ></span>
                </a>
            </td>

        </tr>
    </table>
</div>