<div class="container main-container">
   
    <!-- <h1>Lista de Usuários</h1> -->
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "square-loader" ><p style="color: white" > Carregando... </p></ngx-spinner>
    <p>
        <a class="btn btn-success" [routerLink]="['/cadastrosBasicos/adicionar-tipo-documento']" >Adicionar </a>
    </p>

    <table class="table ">
        <thead class="thead-dark">
        <tr>
            <th>Documento</th>
            <th></th>
        </tr>
        </thead> 
        <tr *ngFor="let tipodocumento of tipoDocumentoLista">
            <td>
                {{ tipodocumento.descricao }} 
            </td>
            
            <td class="text-right">
                <a class="btn btn-warning" [routerLink]="['/cadastrosBasicos/editar-tipo-documento',tipodocumento.id]"  >
                    <span title="{{ tipodocumento.descricao }} " class="fa fa-pencil-alt">Editar</span>
                </a>
            </td>
        </tr>
    </table>
</div>