<div class="container main-container">
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "square-loader" ><p style="color: white" > Carregando... </p></ngx-spinner>

    <form novalidate (ngSubmit)="AddEscolaridade()" [formGroup]="EscolaridadeForm">

        <h4>Escolaridade</h4>

        <div class="alert alert-danger" *ngIf="errors.length > 0">
            <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Id</label>
            <div class="col-md-10">
                <input class="form-control" id="id" type="text"  formControlName="id" />
            </div>
        </div> 


        <div class="form-group">
            <label class="col-md-2 control-label">Descrição</label>
            <div class="col-md-10">
                <input class="form-control" id="descricao" formControlName="descricao" [ngClass]="{'is-invalid': displayMessage.descricao }"/>
                <!-- <span class="text-danger" *ngIf="displayMessage.descricao">
                    <p [innerHTML]="displayMessage.descricao"></p>
                </span> -->
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Ativo</label>
            <div class="col-md-2">
                <input  class="form-check" id="ativo" type="checkbox"   formControlName="ativo" />
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span><button class="btn btn-success" id="AddEscolaridade" [disabled]="!EscolaridadeForm.valid" type="submit">Adicionar</button></span>
            </div>
        </div>



    </form>        
</div>