<div class="container main-container">
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "square-loader" ><p style="color: white" > Carregando... </p></ngx-spinner>
    <h1>Cadastro</h1>

    <form novalidate (ngSubmit)="adicionarConta()" [formGroup]="cadastroForm">

        <h4>Crie sua conta</h4>
        <hr>

        <div class="alert alert-danger" *ngIf="errors.length > 0">
            <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">E-mail</label>
            <div class="col-md-10">
                <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)" formControlName="email" [ngClass]="{'is-invalid': displayMessage.email }" />
                <span class="text-danger" *ngIf="displayMessage.email">
                                <p [innerHTML]="displayMessage.email"></p>
                            </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Senha</label>
            <div class="col-md-10">
                <input class="form-control" id="password" type="password" placeholder="Senha (requerido)" formControlName="password" [ngClass]="{'is-invalid': displayMessage.password }" />
                <span class="text-danger" *ngIf="displayMessage.password">
                                <p [innerHTML]="displayMessage.password"></p>
                            </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Confirme a Senha</label>
            <div class="col-md-10">
                <input class="form-control" id="confirmPassword" type="password" placeholder="Confirme a Senha (requerido)" formControlName="confirmPassword" [ngClass]="{'is-invalid': displayMessage.confirmPassword }" />
                <span class="text-danger" *ngIf="displayMessage.confirmPassword">
                                <p [innerHTML]="displayMessage.confirmPassword"></p>
                            </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span><button class="btn btn-success" id="Registrar" [disabled]="!cadastroForm.valid" type="submit">Registrar</button></span>
            </div>
        </div>
    </form>
</div>