<footer class="border-top footer text-muted">
    <div class="container text-center">
        <!-- Desenvolvido por <a href="#">LM Soluções</a>  -->
        Contato: xrseguros@outlook.com
    </div>

</footer>