<div class="container main-container">
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "square-loader" ><p style="color: white" > Carregando... </p></ngx-spinner>

    <form novalidate (ngSubmit)="AdicionarPessoa()" [formGroup]="PessoaForm">

        <h4>Adicionar Pessoa</h4>

        <div class="alert alert-danger" *ngIf="errors.length > 0">
            <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">ID</label>
            <div class="col-md-10">
                <input class="form-control" id="id" type="text"  formControlName="id" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Data</label>
            <div class="col-md-10">
                <input class="form-control" id="dataNascFund" type="date"  formControlName="dataNascFund" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Nome</label>
            <div class="col-md-10">
                <input class="form-control" id="nome" formControlName="nome" [ngClass]="{'is-invalid': displayMessage.nome }"/>
                <span class="text-danger" *ngIf="displayMessage.nome">
                    <p [innerHTML]="displayMessage.descricao"></p>
                </span>
            </div>
        </div>



         <div class="form-group">
            <label class="col-md-2 control-label">Nome Fantasia</label>
            <div class="col-md-10">
                <input class="form-control" id="nomeFantasia" formControlName="nomeFantasia" [ngClass]="{'is-invalid': displayMessage.nomeFantasia }"/>
                <span class="text-danger" *ngIf="displayMessage.nomeFantasia">
                    <p [innerHTML]="displayMessage.nomeFantasia"></p>
                </span>
            </div>
        </div>

        <!-- <div class="form-group">
            <label class="col-md-2 control-label" >Tipo</label> 
            <div class="col-md-10">
                <select  class="form-control" id="tipoPessoa" >
                <option [value]="F" [selected]="tipoPessoa =='F'">Física</option>
                <option [value]="J" [selected]="tipoPessoa =='J'">Jurídica</option>
                </select>
            </div>  
        </div> -->
        
        
        <div class="form-group">
            <div class="col-md-10">
            <label class="control-label" for="TipoPessoa">Tipo</label><br>

            <input type="radio" value="F" id="tipoPessoa" formControlName="tipoPessoa" name="tipoPessoa"> Pessoa Física
            <br>
            <input type="radio" value="J" id="tipoPessoa" formControlName="tipoPessoa" name="tipoPessoa"> Pessoa Jurídica
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-2 control-label">CPF/CNPJ</label>
            <div class="col-md-10">
                <input class="form-control" id="cpfCnpj"  [textMask]="{mask: mascaraTipoPessoa}"  placeholder="{{ textoDocumento }}" formControlName="cpfCnpj" [ngClass]="{'is-invalid': displayMessage.cpfCnpj }"/>

                <span class="text-danger" *ngIf="displayMessage.cpfCnpj">
                    <p [innerHTML]="displayMessage.cpfCnpj"></p>
                </span>
            </div>
        </div>
        

        <div class="form-group">
            <label class="col-md-2 control-label">RG</label>
            <div class="col-md-10">
                <input class="form-control" id="rg" formControlName="rg" [ngClass]="{'is-invalid': displayMessage.rg }"/>
                <span class="text-danger" *ngIf="displayMessage.rg">
                    <p [innerHTML]="displayMessage.rg"></p>
                </span>
            </div>
        </div> 

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span><button class="btn btn-success" id="AddPessoa" [disabled]="!PessoaForm.valid" type="submit">Adicionar</button></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Cadastrar" class="btn btn-primary">&nbsp;
            <a class="btn btn-info" [routerLink]="[ '/cadastrosBasicos/lista-pessoa']">Voltar</a>
        </div>

    </form>        
</div>

    
