<div class="container main-container">
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "square-loader" ><p style="color: white" > Carregando... </p></ngx-spinner>

    <form novalidate (ngSubmit)="EditarPessoa()" [formGroup]="PessoaForm">

        <h4>Pessoa</h4>

        <div class="alert alert-danger" *ngIf="errors.length > 0">
            <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Id</label>
            <div class="col-md-10">
                <input class="form-control" id="id" type="text"  formControlName="id" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-12 col-md-4 form-group">
              <input
              type="text"
              placeholder="Datepicker"
              class="form-control"
              bsDatepicker
              [bsConfig]="{ isAnimated: true }">
            </div>
          </div>
        <!-- <div class="input-group date" data-provide="datepicker">
            <input type="text" class="form-control">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div> -->

        <div class="form-group">
            <label class="col-md-2 control-label">Nome</label>
            <div class="col-md-10">
                <input class="form-control" id="nome" formControlName="nome" [ngClass]="{'is-invalid': displayMessage.nome }"/>
                <span class="text-danger" *ngIf="displayMessage.nome">
                    <p [innerHTML]="displayMessage.nome"></p>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Nome Fantasia</label>
            <div class="col-md-10">
                <input class="form-control" id="nomeFantasia" formControlName="nomeFantasia" [ngClass]="{'is-invalid': displayMessage.nomeFantasia }"/>
                <span class="text-danger" *ngIf="displayMessage.nomeFantasia">
                    <p [innerHTML]="displayMessage.nomeFantasia"></p>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="tipoPessoa">Tipo Pessoa</label> 
            <div class="col-md-10">
                <select  class="form-control" id="tipoPessoa" >
                <option [value]="1" [selected]="pessoa.tipoPessoa =='F'">Física</option>
                <option [value]="0" [selected]="pessoa.tipoPessoa =='J'">Jurídica</option>
                </select>
            </div>  
        </div>
        

        <div class="form-group">
            <label class="col-md-2 control-label">CPF CNPJ</label>
            <div class="col-md-10">
                <input class="form-control" id="cpfCnpj" formControlName="cpfCnpj" [ngClass]="{'is-invalid': displayMessage.cpfCnpj }"/>
                <span class="text-danger" *ngIf="displayMessage.cpfCnpj">
                    <p [innerHTML]="displayMessage.cpfCnpj"></p>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">RG</label>
            <div class="col-md-10">
                <input class="form-control" id="rg" formControlName="rg" [ngClass]="{'is-invalid': displayMessage.rg }"/>
                <span class="text-danger" *ngIf="displayMessage.rg">
                    <p [innerHTML]="displayMessage.rg"></p>
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span><button class="btn btn-success" id="AlterarPessoa" [disabled]="!PessoaForm.valid" type="submit">Alterar</button></span>
            </div>
        </div>
    </form>        
</div>

    
