<div class="container main-container">
   
    <!-- <h1>Lista de Usuários</h1> -->
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "square-loader" ><p style="color: white" > Carregando... </p></ngx-spinner>
    <p>
        <!-- <a class="btn btn-info" [routerLink]="['/fornecedores/adicionar-novo']">Novo Fornecedor</a> -->
        <a class="btn btn-success" [routerLink]="['/conta/cadastro']">Novo Usuário</a>
    </p>

    <table class="table ">
        <thead class="thead-dark">
        <tr>
            <th>Usuário(s)</th>
            <th></th>
        </tr>
        </thead> 
        <tr *ngFor="let usuario of usuarios">
            
            <td>
                {{ usuario.email }} 
            </td>
            <td class="text-right">
                <a class="btn btn-warning" [routerLink]="['/conta/trocarsenha',usuario.id]">
                    <span title="{{ usuario.email }} " class="fa fa-pencil-alt">Trocar senha</span>
                </a>
            </td>
           
        </tr>
    </table>
</div>