<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container">
            <a class="navbar-brand" href="/">XR Corretora</a>
            <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngbCollapse]="isCollapsed" >

                <app-menu-login></app-menu-login>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="['/home']">Home</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="['/conta/lista-usuarios']">Usuários</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="['/cadastrosBasicos/lista-tipo-documento']">Cadastros</a>
                    </li> -->
                    <li class="nav-item dropdown">  
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Cadastros
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" [routerLink]="['/cadastrosBasicos/lista-escolaridade']">Escolaridade</a>
                          <a class="dropdown-item" [routerLink]="['/cadastrosBasicos/lista-pessoa']">Pessoa</a>
                          <a class="dropdown-item" [routerLink]="['/cadastrosBasicos/lista-profissao']">Profissão</a>
                          <a class="dropdown-item" [routerLink]="['/cadastrosBasicos/lista-tipo-documento']">Tipo de Documento</a>
                          <a class="dropdown-item" [routerLink]="['/conta/lista-usuarios']">Usuários</a>

                          
                          <!-- <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Algo mais aqui</a> -->
                        </div>
                      </li>
                     <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="['/cadastrosBasicos/lista-profissao']">Apólices</a>
                    </li> 
                </ul>
            </div>
        </div>
    </nav>
</header>